<!DOCTYPE html>
<html lang="ja">
<head>
<meta http-equiv="content-type"
		content="text/html; charset=UTF-8">
<meta name="viewport" content="width=640,initial-scale=1">
<title>stcam</title>
<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="/socket.io/socket.io.js"></script>
</head><body>
<form method=post action=login>
<input type=text name="name">
<input type=submit>
</form>
</body>
</html>
